@import "../../../scss/_mixins.scss";

.card {
	background-color: var(--light-background);
	border-radius: 1rem;
	padding: 3rem;
	box-shadow: var(--box-shadow-light);
	cursor: pointer;

	&__id {
		font-size: 3rem;
	}

	&__img {
		height: 25rem;
		width: 25rem;
		overflow: hidden;
		border-radius: 1rem;
		margin: 3rem auto;

		& > img {
			height: 100%;
		}
	}

	&__title {
		font-size: 2rem;
		text-transform: uppercase;
		text-overflow: ellipsis;

		& > a {
			color: var(--primary-color);
			font-weight: 900;
		}
	}

	&__details {
    margin-top: 3rem;
	}

	&__detail {
		display: flex;
    align-items: center;
    margin-bottom: 1rem;

    & span {
      font-weight: 900;
    }

    & > svg {
      margin-right: 1.5rem;
    }
  
    & > p > a {
      color: inherit;
      font-weight: 900;

      &:hover {
        color: var(--primary-color);
      }
    }
	}

	@include respond(phone) {
		width: 80%;
		margin: 2rem auto;
	}
}
