.nav {
	margin-top: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__item {
	padding: 1rem 2rem;
	transition: all 0.4s ease-out;
}

.nav__item:hover,
.current {
	background-color: #bb2e1f;
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 5rem;
}

.nav__link {
	font-size: 2rem;
	font-weight: 900;
	color: inherit;
	cursor: pointer;
}
