@import './_mixins';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	box-sizing: inherit;
}

:root {
	--primary-color: #bb2e1f;
	--color-white: #fff;
	--text-color-light: #777;
	--text-color-dark: #dadada;
	--light-background: #e4e4e4;
	--dark-background-primary: #1c2022;
	--dark-background-secondary: #24282a;
	--box-shadow-light: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

html {
	font-size: 62.5%; // root font-size is 10px and it is 16px/10px * 100 - for all 1200 to 1800px.

	@include respond(big-desktop) {
		font-size: 75%; // root font-size is 12px - 12px / 16px * 100
	}

	@include respond(tab-land) {
		font-size: 56.25%; // root font-size: 9px - 9px / 16px
	}

	@include respond(tab-port) {
		font-size: 50%; // root font-size: 8px - 8px / 16px * 100
	}

	@include respond(phone) {
		font-size: 43.75%; // root font-size: 7px - 7px / 16px * 100
	}
}

body {
	font-size: 1.8rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	height: 100%;
	width: 100%;
	background-color: orangered;
}

#app {
	height: 100%;
}

.light {
	color: var(--text-color-light);
	background-color: #fff;
	min-height: 100%;
	min-width: 100%;
}

.dark {
	color: var(--text-color-dark);
	background-color: var(--dark-background-primary);
	min-height: 100%;
	min-width: 100%;
}
