.center-text {
	text-align: center;
}

.heading-big {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 5rem;
	font-weight: 400;
}

.btn {
	padding: 2rem 3rem;
	color: var(--color-white);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: 1rem;
	transition: all 0.4s ease-out;

	&--primary {
		background-color: var(--primary-color);
	}

	&--light {
		background-color: var(--light-background);
	}

	&--secondary {
		background-color: rgb(8, 8, 8);
		color: var(--color-white);
	}

	&--dark {
		color: #fff;
		background-image: linear-gradient(90deg, purple, orangered);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&--light:disabled {
		background-color: #ddd;
		cursor: not-allowed;
	}

	&--dark:disabled {
		background-image: none;
		background-color: var(--dark-background-secondary);
		cursor: not-allowed;
		transition: all .4s ease-out;
	}
}
